<%- include ('../partials/header') %>
<%- include ('../pages/menu_navbar') %>
<main>

    <main>
        <div class="container">
          <!-- THE REST OF YOUR HTML CODE GOES HERE -->
          <h1><centre>Workouts for this Week</centre></h1>

          
          <select class="form-select" aria-label="Default select example">
            <option selected>Day</option>
            <option value="1">Monday</option>
            <option value="2">Tueday</option>
            <option value="3">Wednesday</option>
            <option value="4">Thurday</option>
            <option value="6">Friday</option>
            <option value="7">Saturday</option>
          </select>
          <select class="form-select" aria-label="Default select example">
            <option selected>Select Exercise</option>
            <option value="1">Database</option>
            <option value="2">Database</option>
            <option value="3">Database</option>
          </select>
          <button type="button" class="btn btn-primary">add</button>
  

          <table class="table">
            <thead>
              <tr>
                <th scope="col">Day</th>
                <th scope="col">Exercise name</th>
                <th scope="col">Reqs</th>
                <th scope="col">Set Number</th>
                <th scope="col">description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Monday</th>
                <td>Database...</td>
                <td>Database...</td>
                <td>Database...</td>
                <td>Database...</td>
              </tr>
              <tr>
                <th scope="row">Tueday</th>
                <td>Database...</td>
                <td>Database...</td>
                <td>Database...</td>
                <td>Database...</td>
              </tr>
              <tr>
                <th scope="row">Wednesday</th>
                <td> Database...</td>
                <td> Database...</td>
                <td>Database...</td>
                <td>Database...</td>
              </tr>
              <tr>
                <th scope="row">Thurday</th>
                <td> Database...</td>
                <td> Database...</td>
                <td>Database...</td>
                <td>Database...</td>
              </tr>
              <tr>
                <th scope="row">Friday</th>
                <td> Database...</td>
                <td> Database...</td>
                <td>Database...</td>
                <td>Database...</td>
              </tr>
              <tr>
                <th scope="row">Saturday</th>
                <td> Database...</td>
                <td> Database...</td>
                <td>Database...</td>
                <td>Database...</td>
              </tr>
              <tr>
                <th scope="row">Sunday</th>
                <td> Database...</td>
                <td> Database...</td>
                <td>Database...</td>
                <td>Database...</td>
              </tr>
            </tbody>
          </table>
          <select class="form-select" aria-label="Default select example">
            <option selected>Day</option>
            <option value="1">Monday</option>
            <option value="2">Tueday</option>
            <option value="3">Wednesday</option>
            <option value="4">Thurday</option>
            <option value="6">Friday</option>
            <option value="7">Saturday</option>
          </select>
          <select class="form-select" aria-label="Default select example">
            <option selected>Your Exercise</option>
            <option value="1">Database</option>
            <option value="2">Database</option>
            <option value="3">Database</option>
          </select>
          <button type="button" class="btn btn-primary">Remove</button>
            

        </div>
      </main>

</main>



<%- include ('../partials/footer') %>