<%- include ('../partials/header') %>
<%- include ('../pages/menu_navbar') %>
<main>

    <main>
        <div class="container">
          <!-- THE REST OF YOUR HTML CODE GOES HERE -->
          <h1><centre>Workouts for this Week</centre></h1>

          <button type="button" class="btn btn-primary">Forcus area </button>
          <button type="button" class="btn btn-primary"> Workout Duration </button>
          <button type="button" class="btn btn-primary">Timeline</button>
  

          <table class="table">
            <thead>
              <tr>
                <th scope="col">Day</th>
                <th scope="col">Workout</th>
                <th scope="col">Muscle</th>
                <th scope="col">Reqs</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Monday</th>
                <td>Database...</td>
                <td>Database...</td>
                <td>Database...</td>
              </tr>
              <tr>
                <th scope="row">Tueday</th>
                <td>Database...</td>
                <td>Database...</td>
                <td>Database...</td>
              </tr>
              <tr>
                <th scope="row">Wednesday</th>
                <td> Database...</td>
                <td> Database...</td>
                <td>Database...</td>
              </tr>
              <tr>
                <th scope="row">Thurday</th>
                <td> Database...</td>
                <td> Database...</td>
                <td>Database...</td>
              </tr>
              <tr>
                <th scope="row">Friday</th>
                <td> Database...</td>
                <td> Database...</td>
                <td>Database...</td>
              </tr>
              <tr>
                <th scope="row">Saturday</th>
                <td> Database...</td>
                <td> Database...</td>
                <td>Database...</td>
              </tr>
              <tr>
                <th scope="row">Sunday</th>
                <td> Database...</td>
                <td> Database...</td>
                <td>Database...</td>
              </tr>
            </tbody>
          </table>

      
            
        </div>
      </main>

</main>



<%- include ('../partials/footer') %>