<%- include ('../partials/header') %>
<%- include ('../pages/menu_navbar') %>
<!-- <head>
  <link rel="stylesheet" href="../css/login.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <title>Sign in</title>
</head> -->
<%- include ('style') %>
<main>

  <div class="login-form">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    
    <form action="/login" method="POST">
      <h1 style="text-align:center;"> Login</h1>
        <div class="content">
          <div class="input-field">
            <input name="username" type="text" placeholder="Username" autocomplete="nope">
          </div>
          
        </div>
        <div class="content">
          <div class="input-field">
            <input name="password" type="password" placeholder="Password" autocomplete="new-password">
          </div>
          <div>
          <a href="/register" class="link"> Don't have an account? Register here</a>
          </div>
        <button background:snow;color:grey;display:block; border-radius: 6px;font-size: 20px; width:100px">Login</button>
  
          </div>
      </form>
  </div>
</main>

<%- include ('../partials/footer') %>