<%- include ('../partials/message') %>
<%- include ('../partials/header') %>
<%- include ('../partials/footer') %>

<main>
  <div class="container">
    <h1>Logged out Successfully</h1>
  </div>
</main>
<%- include ('../partials/footer') %>
