<%- include ('../partials/header') %>
<%- include ('../pages/menu_navbar') %>
<main>
  <div class="container">
    <h1>Profile</h1>
    <table class="table">
        <tr>
            <th>
                <h2>Username:</h2>
            </th>
            <th>
                <h2><% users.username %></h2>
            </th>
        </tr>
        <tr>
            <th>

            </th>
            <th>

            </th>
        </tr>
        
    </table>


  </div>
</main>

<%- include ('../partials/footer') %>