<%- include ('../partials/header') %>

<main>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <%- include ('../partials/message') %>
    <h2>Register</h2>
    <form action="/register" method="post">
      <table class="table">
      <tr>
      <th>
        <div class="mb-3">
          <label for="username" class="form-label" required >Username</label>
          <input type="username" id="username" name="username" class="form-control" placeholder = "Username" required>
          <label for="password" class="form-label" required >Password</label>
          <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        </div>
      </th>
      </tr>
      
      <th>
        <div class="etc-login-form">
            Already have an account? <a href="/login">   Sign in</a>
        </div>
        <button class="btn btn-primary" type="submit">Sign up</button>
        
      </th>
      
      </table>
      </form>
  </div>
</main>

<%- include ('../partials/footer') %>
