<%- include ('../partials/header') %>
<%- include ('../pages/menu_navbar') %>
<%- include ('style') %>
<main>
  <div class="login-form">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    
    <form action="/register" method="POST">
      <h1 style="text-align:center;"> Register</h1>
        <div class="content">
          <div class="input-field">
            <input type="email" placeholder="Username" autocomplete="nope">
          </div>
         
          
        </div>

          <div class="content">
            <div class="input-field">
              <input type="password" placeholder="Password" autocomplete="new-password">
            </div>
            <div>
             <a href="/login" class = "link">Already have an account? Login here</a>
        </div>
        <button type="submit" class="btn btn-primary" style="background:snow;color:grey;display:block; border-radius: 6px;font-size: 20px; width:100px">Register</button>
  
          </div>
      </form>
  </div>
</main>

<%- include ('../partials/footer') %>
